<!-- Show it when there is no User -->
<div class="no-data text-center" *ngIf="User.length == 0">
    <p>There is no User added yet!</p>
    <button class="btn btn-primary" routerLink="/UserCreate">Add Empoyee</button>
  </div>

  <!-- Users list table, it hides when there is no User -->
  <div *ngIf="User.length !== 0">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="6">
              <div>
                <h3 class="mb-3 text-center">User List</h3>
              </div>
              <div> 
                <button style="float:right;" class="btn btn-primary" routerLink="/UserCreate"><span class="fa fa-plus"></span></button>
              </div>
            </th>
          </tr>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of User">
            <td>{{user.id}}</td>
            <td>{{user.UserName}}</td>
            <td>{{user.FullName}}</td>
            <td>{{user.Mobile}}</td>
            <td>{{user.email}}</td>
            <td>
              <button class="btn btn-primary edit" routerLink="/UserEdit/{{user.id}}"><span class="fa fa-edit"></span></button>
              <button class="btn btn-danger edit"(click)="deleteUser(user.id, user.FullName)"><span class="fa fa-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

