<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <!-- <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-bookmark"></span> Easy Soft</h3>
            </div> -->
            <!-- <app-nav-bar></app-nav-bar> -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                      <a routerLink="/UserList" class="btn btn-danger btn-lg feature" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Apps</a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <a href="#" class="btn btn-warning btn-lg feature" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Bookmarks</a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <a href="#" class="btn btn-info btn-lg feature" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>Reports</a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <a href="#" class="btn btn-success btn-lg feature" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Comments</a>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-3 col-md-3">
                      <a href="#" class="btn btn-success btn-lg feature" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Users</a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <a href="#" class="btn btn-info btn-lg feature" role="button"><span class="glyphicon glyphicon-file"></span> <br/>Notes</a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <a href="#" class="btn btn-warning btn-lg feature" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <a href="#" class="btn btn-danger btn-lg feature" role="button"><span class="glyphicon glyphicon-tag"></span> <br/>Tags</a>
                    </div>
                </div>
                <br>
                <a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>
            </div>
        </div>
    </div>
</div>
